// http://ionicframework.com/docs/theming/
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
* 
{
    direction: rtl;
}
ion-title {
    font-family: 'Cairo';
    font-size:16px !important;
}
/*
ion-content {
    font-family: Bader;
}
*/
 $toolbar-background: color($colors, primary);

 ion-title,ion-card{
    font-family: 'Cairo' !important;
    font-size:15px !important;
 }  
 button,div{
        font-family: 'Cairo' !important;
    }
    
    ion-content {
        background-color: rgb(190, 225, 236);
    }
    
     body {
          
           font-family: 'Cairo' !important;
         }

         h3 {
             color: rgb(7, 7, 20);
             font-family: "Cairo";
             font-size: 150%;
            width:100%;
            text-align:right !important;
            
            }

            h3 ins{
                background-color:black;
                text-decoration:none;
                color:white;
                transition:all .5s;
                
            }
            h3 ins:hover{
                color:black;
                background:burlywood
            }
         p  {
             color: rgb(10, 6, 6);
             font-family: 'amiri' !important;
             font-size: 120%;
             
         border: none rgb(228, 228, 228);
         padding: 5px;
         text-align: justify;

         }

         .footer {
         padding: 20px;
         text-align: start;
         background: rgb(36, 48, 17);
         margin-top: 20px;
         font-family: 'amiri' !important;
         
     }
     .toolbar-title-md{
         font-size:16px;
     }
       

    //  .ion-ios-arrow-back:before{
    //     content: "";
    //  }

    .ion-ios-arrow-back:before,
    .ion-md-arrow-back:before{
        content:"\f104";
        font:normal normal normal 35px/1 FontAwesome;
    }

    .ion-ios-home:before , 
    .ion-md-home:before,
    .ion-ios-home-outline:before,
    .ion-md-home-outline:before{
        content:"\f015";
        font:normal normal normal 35px/1 FontAwesome;
    }

    .ion-ios-information-circle:before , 
    .ion-md-information-circle:before,
    .ion-ios-information-circle-outline:before,
    .ion-md-information-circle-outline:before{
        content:"\f05a";
        font:normal normal normal 35px/1 FontAwesome;
    }
    .ion-ios-contacts:before , 
    .ion-md-contacts:before,
    .ion-ios-contacts-outline:before,
    .ion-md-contacts-outline:before{
        content:"\f095";
        font:normal normal normal 35px/1 FontAwesome;
    }
    // \f2be
    

